

#footer {
  position:relative;
  top: 50px;
  width: 50%;
}

#finalPizzaPrice {
  position: absolute;
  right: 150px;
  width: 200px;
  height: 120px;
  border: 3px solid green;
} 

.p1 {
  text-decoration: underline;
}

#finalCost {
  font-size: 32px;
  font-weight: bold;
}

#pizzaOrder {
    position: absolute;
    top: 150px;
    right: 150px;
    width: 200px;
    height: 200px;
    border: 3px solid green;

}